---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginateProjs: CollectionEntry<"proj">[];
}

const { currentPage, totalPages, paginateProjs } = Astro.props;
---

<Layout title={`projs | ${SITE.title}`}>
  <Header activeNav="projs" />
  <Main pageTitle="..." pageDesc="">
    <ul>
      {
        paginateProjs.map(({ data, slug }) => (
          <Card href={`/projs/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/projs${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/projs/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
